@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding-top: 250px;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
}
.line-1{
    
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 27em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.inputField{
    align-items: center;
    margin: auto;
    display: block;
    font-size: 150%;
    padding: 2%;
    text-align: center;
}

.wp-block-button{
    padding-left: 46%;
    padding-top: 5%;
}

.wp-block-button .wp-block-button__link{
    justify-self: center;
	display: inline-block;
    padding: 18px 50px;
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    background-position: 110% 50%;
    background-size: auto 20%;
    background-repeat: no-repeat;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    color: black;
    letter-spacing: -1px;
    text-decoration: none;
	  border-radius: 3px
}

.wp-block-button .wp-block-button__link:hover {
    border-color: #000;
    background-color: #123b18;
    background-position: 90% 50%;
    padding: 18px 55px 18px 45px;
    color: #fff;
}
